.trajectoryPath_A {
    stroke:#ffd800;
    stroke-width: 0.01rem;
    fill: none;
}

.trajectoryPath_B {
    stroke:#ffd800;
    stroke-width: 0.01rem;
    fill: none;
}

.mbCircle {
    stroke:#ffffff;
    stroke-width: 0.01rem;
}

.mbText {
    stroke:#ffffff;
    stroke-width: 0.01rem;
    fill: white;
    font-size: 0.1rem;  
}

.axis_x_0 {
    stroke: rgb(0, 180, 246);
    stroke-opacity: 0.5;
    stroke-width: 0.08;
    stroke-dasharray: 2, 0.8;
}

div span[class*="circlegraph-property"] {
    color: #ffffff;
    font-weight: bold;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.dn {
    display: none;
}

