.trajectoryPath_A {
    stroke:#ffd800;
    stroke-width: 0.01rem;
    fill: none;
}

.mbCircle {
    stroke:#ffffff;
    stroke-width: 0.01rem;
}

.mbText {
    stroke:#ffffff;
    stroke-width: 0.01rem;
    fill: white;
    font-size: 0.1rem;  
}

